.blue{
    float: left;
    width: 47%;
    padding: 9px;
    height: 300px;
    background-color: blue;
}
.green{
    float: left;
    width: 47%;
    padding: 9px;
    height: 300px;
    background-color: green;
}
.divs:after{
    content: "";
    display: table;
    clear: both;
}
.cars{
    float: left;
    width: 33.33%;
    height: 300px;
    text-align: center;
}
.column{
    float: left;
    width: 25%;
    height: 300px;
    text-align: center;
}